.youtube-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;  
}

.youtube-gallery .youtube-item {
    padding: 1rem;
    height: 50vh;
}


.youtube-embed {
    width: 95%;
    height: 80%;
}