
.youtube-gallery .youtube-item {
    padding: 1rem;
}

.youtube-embed {
    width: 95%;
    height: 50vh;
}

nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;  

}

nav a {
    margin: 1rem;
    max-width: 5rem;
}

img {
    max-width: 90vw;
}

body {
    margin: 1rem;
}